.container {
  position: relative;
  width: 750px;
  max-width: 100%;
  margin: auto;
}

.itemContainer {
  width: 100%;
  display: flex;
  padding: 0.5rem 0;
  /* background-color: rgba(153, 0, 0, 0.05); */
}

.itemImage {
  width: 25%;
  aspect-ratio: 1;
  align-self: center;
  background-color: rgba(255, 0, 0, 0.05);
  object-fit: cover;
  border-radius: 0.25rem;
}

.itemDetailsContainer {
  padding: 1rem;
}

.itemName,
.itemDescription,
.itemPrice {
  margin: 0;
}

.itemDescription {
  color: rgba(0, 0, 0, 0.5);
}

.removeButton {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background-color: rgb(205, 205, 205);
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .itemContainer {
    display: block;
    padding-bottom: 1rem;
  }
  .itemImage {
    width: 100%;
    aspect-ratio: 3/2;
  }
  .itemDetailsContainer {
    padding: 0;
  }
}
